.navButton {
    margin: auto;
    padding: 5px 10px;
    border-radius: 20px;
    width: 90px;
    text-align: center;
    color: var(--whitish);
}

.userIcon {
    border-radius: 40px;
    margin: auto;
}

.logo {
    position: relative;
    z-index: 5;
}

.logoFont {
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--whitish);
    font-size: 32px;
}

.mobileHeader {
    display: flex;
    position: fixed;
    top: 8px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.mobileHeader img {
    background-color: var(--mid-gray);
    border-radius: 40px;
}